.cards{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.cards .card{
    display: flex;
    gap: 5px;
    margin: 4px 10px 0 15px;
}
.cards .card .text-card .ant h3:first-child,.cards .card .text-card .ant div, .cards .card .text-card .ant h3:last-child{
    color: gray;
    font-weight: 500;
}
.cards .card .text-card .ant{
    display: flex;
    gap: 5px;
}
.text-card{
    line-height: 1.5;
    margin-left: 5px;
}
.cards .card img{
    width: 50px;
    border-radius: 5px;
}
.cards{
    position: fixed;
    overflow: auto;
    height: 38%;
    width: 29.2%;
    scrollbar-width: thin;
    scrollbar-color: gray transparent;  
}
.pp1{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    background-color: var(--smb);
}
.pp1 .playname{
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.164);
    transition: ease 0.5s;
    border-radius: 10px;
    color: white;
    width: 100px;
}
.pp1 .playname:hover{
    background-color: rgba(255, 255, 255, 0.301);
}
.pp1 .playname::placeholder{
    color: rgb(158, 156, 156);
}
.cr{
    display: flex;
    justify-content: center;
}
.submit{
    width: 70px;
    margin-left: 5px;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.164);
    border: none;
    color: white;
    transition: ease 0.4s;
}
.submit:hover{
    background-color: rgba(255, 255, 255, 0.301);
}
.submit:active{
    background-color: rgba(255, 255, 255, 0.37);
}
.pp1 h2{
    margin-bottom: 5px;
    margin-top: 8px;
}


.main nav .topmain, .main nav .bottomain{
    display: flex;
    /* border: 1px solid white; */
    background-color: transparent;
}
.topmain{
    justify-content: space-between;
    align-items: center;
}

.topmain .right ul{
    display: flex;
    list-style: none;
    /* border: 1px solid yellow; */
    background-color: transparent;
    gap: 16px;
}
.main nav li{
    background-color: transparent;
}
.topmain .left{
    margin: 15px;
}
#leftarr, #rightarr{
    background-color: transparent;
}
.main nav .left{
    background-color: transparent;
}
.topmain .right ul li:first-child{
    background-color: white;
    color: black;
    border-radius: 20px;
    padding: 7px 10px;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.topmain .right ul li:nth-child(2){
    background-color: black;
    padding: 7px 10px;
    border-radius: 20px;
    color: white;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 5px;
}
.topmain .right ul li:nth-child(3){
    background-color: black;
    padding: 5px 10px;
    border-radius: 100%;
    display: flex;
    align-items: center;
}
.topmain .right ul li:nth-child(4){
    background-color: black;
    color: black;
    border-radius: 100%;
    font-weight: 600;  
    padding: 1px; 
    display: flex;
    align-items: center;
    justify-content: center;
}
.topmain .right ul li:nth-child(4) p{
    display: flex;
    background-color: rgb(238, 63, 209);
    color: black;
    height: 90%;
    width: 90%;
    padding: 10px 12px; 
    border-radius: 100%;
    align-items: center;
    justify-content: center;
}
.bottomain ul{
    display: flex;
    list-style: none;
    background-color: transparent;
    gap: 10px;
    margin: 15px 20px;
}
.bottomain ul li{
    background-color: rgba(88, 88, 88, 0.411);
    color: rgb(243, 243, 243);
    padding: 8px 13px;
    border-radius: 50px;
    font-weight: 500;
}
.context{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.context span{
    background-color: transparent;
}
.context span:first-child{
    font-size: 19px;
    font-weight: 600;
    margin-left: 20px;
}
.context span:last-child{
    margin-right: 20px;
    color: rgb(134, 134, 134);
    font-weight: 600;
}
footer{
    /* border: 1px solid white; */
    height: 13.2vh;
    display: flex;
}
li{
    cursor: pointer;
}
.cards02{
    display: grid;
    grid-template-columns: 0.2fr 0.2fr 0.2fr 0.2fr 0.2fr;
    width: 95% ;
    background-color: transparent;
    /* border: white 1px solid; */
    /* margin-top: 20px; */
    gap: 10px;
    /* margin-left: 10px; */
    margin: 20px auto auto 10px;
}
.card02{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.card02 p{
    background-color: transparent;
    font-size: 15px;
}
.card02 p:last-child{
    color: gray;
    line-height: 1.5;
}
.card02 img{
    margin-bottom: 5px;
    border-radius: 5px;
}
.cartext{
    max-height: 80px;
    width: 153.5px; 

}
.cartext p:last-child{
    white-space: wrap;
    max-height: 70px;
    width: 153.5px; 
    overflow: clip;
    text-overflow: ellipsis;
}
.cartext p:first-child{
    white-space: nowrap;
    overflow: clip;
    text-overflow: ellipsis;
}
#playbtn{
    position: absolute;
    top: 103px;
    right: 20px;
    display: flex;
    border-radius: 100px;
    border: none;
    padding: 11px 10px 7px 13px;
    align-items: center;
    justify-content: center;
    background-color: rgb(85, 241, 22);
    transition: none;
    visibility: hidden;
}
.card02:hover #playbtn{
    visibility: visible;
}
#playbtn:hover{
    transform: scale(1.1);
}
#playbtn:active{
    transform: scale(1);
    background-color:rgb(76, 204, 25) ;
}
